<div class="row">
  <div class="col-12">
    <div class="box">
      <div class="box-title">
        <h3>Users</h3>
      </div>
      <br>
      <div class="box-content">
        <p><%= link_to 'New User', new_user_path, class: 'btn btn-success' %></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Email</th>
              <th scope="col">Admin</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: 'user', collection: @users %>
          </tbody>
        </table>

        <div class="digg_pagination">
          <%= will_paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>
